body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}


header {
    background-color: #333; 
    color: #fff; 
    padding: 1rem;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}


.section {
    padding: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


#home {
    background-color: #f2e9e1; 
    text-align: left;
}


.profile-photo {
    display: inline-block;
    width: 180px; 
    height: 180px; 
    border-radius: 50%;
    overflow: hidden;
    margin-right: 30px;
    border: 2px solid #8d6a68; 
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.intro {
    margin-top: 10px; 
}

.intro h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #3d3d3d; 
}

.intro-text {
    font-size: 16px;
    color: #5e5e5e; 
}


.btn {
    display: inline-block;
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #8d6a68; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s, background-color 0.2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    background-color: #63493a; 
}


#projects {
    background-color: #f5f5f5; 
    padding: 2rem 0;
}

.project {
    background-color: #f2e9e1;
    padding: 1.5rem;
    border: 1px solid #ffffff; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.project-details {
    padding-right: 20px;
    color: #333;
}
.project-details h3{
	color: #222;
}


#skills {
    background-color: #f2f2f2; 
}

.skills-list li {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: #8d6a68; 
    color: #fff; /* White text color */
    border-radius: 5px;
}


#contact {
    background-color: #f4f4f4; 
}

.contact-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
    background-color: #ffffff; 
    border: 1px solid #d8d8d8; 
    border-radius: 5px;
}

.contact-form label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #d8d8d8; 
    border-radius: 5px;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 1rem;
    background-color: #8d6a68; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.contact-form button:hover {
    transform: translateY(-3px);
    background-color: #63493a; 
}

footer {
    background-color: #333; 
    color: #fff; 
    text-align: center;
    padding: 1rem;
}
